body {
    background-color: #c5c5c5;
    font-family: "Oswald", sans-serif;
}

a {
    color: white;
    text-decoration: none;
    transition: all .7s ease;
}

.title{
    font-size: 25px;
}

.text{
    font-size: 25px;
}

a:hover {
    color: rgb(179, 255, 93);
}

menu,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__list {
    display: flex;
    justify-content: space-between;

    padding: 15px 15px;
    margin-bottom: 15px;
    border: solid 2px rgb(28, 133, 68);
    border-radius: 15px;
}

.navbar__listLink {
    font-size: 20px;
}

.tegs__container {
    background-color: rgb(103, 26, 148);
    border: solid 2px rgb(62, 21, 110);
    padding-bottom: 50px;
    border-radius: 25px;
}
.tegs__wrapper {
    color: aliceblue;
    text-align: center;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(115, 80, 180);
    padding: 30px 250px;
    border: solid 2px rgb(108, 61, 136);
    border-radius: 25px;
}

.creators__container {
    background-color: rgb(26, 148, 53);
    border: solid 2px rgb(21, 110, 40);
    padding-bottom: 50px;
    border-radius: 25px;
}

.creators__picture {
    width: 550px;
    margin-left: 700px;
    margin-top: 25px;
}

.creators__wrapper {
    color: aliceblue;
    text-align: center;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    padding-right: 1500px;
    background-color: rgb(80, 180, 85);
    padding: 30px 100px;
    border: solid 2px rgb(61, 136, 64);
    border-radius: 25px;
}

.analogs__container {
    background-color: rgb(26, 54, 148);
    border: solid 2px rgb(34, 21, 110);
    padding-bottom: 50px;
    border-radius: 25px;
}
.analogs__wrapper {
    color: aliceblue;
    text-align: center;
    width: 100%;

    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;

    border-radius: 25px;
}

.creation__container {
    background-color: rgb(148, 119, 26);
    border: solid 2px rgb(110, 89, 21);
    padding-bottom: 50px;
    border-radius: 25px;
}
.creation__wrapper {
    color: aliceblue;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(180, 170, 80);
    padding: 30px 150px;
    border: solid 2px rgb(136, 118, 61);
    border-radius: 25px;
}
.creation__title {
    width: 1350px;
    margin-left: 350px;
    margin-top: 150PX;
}
.creation__picture {
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-left: 25px;
}

.functions__container {
    background-color: rgb(26, 113, 148);
    border: solid 2px rgb(21, 82, 110);
    padding-bottom: 50px;
    border-radius: 25px;
}
.functions__wrapper {
    color: aliceblue;
    text-align: left;
    max-width: 1590px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(80, 168, 180);
    padding: 30px 250px;
    border: solid 2px rgb(61, 112, 136);
    border-radius: 25px;
    padding-left: 10px;
}
.functions__text {
    margin-left: 150px;
}
.functions__title {
    width: 1350px;
    margin-left: 150px;
    margin-top: 70px;
}

.repositories__container {
    background-color: rgb(55, 122, 69);
    border: solid 2px rgb(21, 110, 40);
    padding-bottom: 50px;
    border-radius: 25px;
}
.repositories__text {
    color: aliceblue;
    text-align: center;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(80, 180, 85);
    padding: 30px 150px;
    border: solid 2px rgb(61, 136, 64);
    border-radius: 25px;
}

.repositories__title {
    color: aliceblue;
    text-align: center;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(80, 180, 85);
    padding: 15px 5px;
    border: solid 2px rgb(61, 136, 64);
    border-radius: 25px;
}

.repositories__picture {
    width: 250px;
    padding-top: 35px;
    margin-left: 825px;
}

.architecture {
    background-color: rgb(59, 129, 74);
    border: solid 2px rgb(46, 95, 57);
    padding-bottom: 50px;
    border-radius: 25px;
}

.architecture__picture {
    width: 150px;
    margin-left: 875px;
    margin-top: 50px;
}

.architecture__wrapper {
    color: aliceblue;
    text-align: center;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgb(113, 156, 116);
    padding: 30px 250px;
    border: solid 2px rgb(79, 109, 80);
    border-radius: 25px;
}

.footer__title{
    font-size: 30px;
    color: white;
    text-align: center;
}

.footer__container{
    margin-top: 65px;
}

@media (max-width:768px) {
    .navbar__listLink{
        font-size: 16px;
    }
    .title{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
    .architecture__picture{
        margin: auto 265px;
        margin-top: 55px;
    }
    .architecture__wrapper {
        max-width: 145px;
    }
    .creators__picture {
        margin: auto 65px;
        margin-top: 55px;
    }
    .creators__wrapper {
        max-width: 450px;
    }
    .tegs__wrapper {
        max-width: 145px;
    }
    .functions__wrapper {
        max-width: 385px;
    }
    .creation__wrapper {
        max-width: 345px;
    }
    .creation__text {
        margin-right: -305px;
    }
    .creation__picture {
        width: 225px;
        height: 225px;
        margin-top: 75px;
    }
    .repositories__title {
        max-width: 655px;
    }
    .repositories__text {
        max-width: 355px;
    }
    .repositories__picture {
        margin: auto 225px;
    }
}

@media (max-width:420px) {
    .navbar__listLink{
        font-size: 16px;
    }
    .title{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
    .architecture__picture{
        margin: auto 265px;
        margin-top: 55px;
    }
    .architecture__wrapper {
        max-width: 145px;
    }
    .creators__picture {
        margin: auto 65px;
        margin-top: 55px;
    }
    .creators__wrapper {
        max-width: 450px;
    }
    .tegs__wrapper {
        max-width: 145px;
    }
    .functions__wrapper {
        max-width: 385px;
    }
    .creation__wrapper {
        max-width: 345px;
    }
    .creation__text {
        margin-right: -305px;
    }
    .creation__picture {
        width: 225px;
        height: 225px;
        margin-top: 75px;
    }
    .repositories__title {
        max-width: 655px;
    }
    .repositories__text {
        max-width: 355px;
    }
    .repositories__picture {
        margin: auto 225px;
    }
}

@media (max-width:1024px) {
    .navbar__listLink{
        font-size: 16px;
    }
    .title{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
    .architecture__picture{
        margin: auto 265px;
        margin-top: 55px;
    }
    .architecture__wrapper {
        max-width: 145px;
    }
    .creators__picture {
        margin: auto 65px;
        margin-top: 55px;
    }
    .creators__wrapper {
        max-width: 450px;
    }
    .tegs__wrapper {
        max-width: 145px;
    }
    .functions__wrapper {
        max-width: 385px;
    }
    .creation__wrapper {
        max-width: 345px;
    }
    .creation__text {
        margin-right: -305px;
    }
    .creation__picture {
        width: 225px;
        height: 225px;
        margin-top: 75px;
    }
    .repositories__title {
        max-width: 655px;
    }
    .repositories__text {
        max-width: 355px;
    }
    .repositories__picture {
        margin: auto 225px;
    }
}